/** Wrapper **/
.jcarousel-wrapper {
    margin: auto;
    position: relative;
    /*border: 10px solid #000;*/
    width: 80%;
    height: 40%;
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;

    /*overflow: hidden;*/

    background-color: #8C00FF;
}

/** Carousel **/
.jcarousel {
    position: relative;
    overflow: hidden;
    left: 5%;
    height: 100%;
    width: 90%;

    background-color: #8C0000;
}

/** Ultrawide thing to store all images **/
.jcarousel .outercarousel {
    width: 20000em !important;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

/** Container of each image **/
.jcarousel .xxx {
    float: left;
    height:100%;
    background-color: white;
    /*width: 100%;*/
    /*background-size: cover;*/
    /*background-color: #FFFF00;*/
    /*float: left;*/
    /*background-position: center;*/
    /*box-sizing: border-box;*/
}

/** Each image **/
.jcarousel img {
    display: block;
    height: 100%;
    /*width: 100%;*/

    margin: auto;

/*    max-width: 100%;
    height: auto !important;*/

    background-size: contain;
    background-color: #55F2FF;
    background-position: center;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    width: 5%;
    top: 47.5%;
    /*padding-top: 5%;*/
    /*padding-bottom: 4%;*/

    vertical-align: middle;

    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
    z-index: 20;
}

.jcarousel-control-prev {
    /*position: absolute;*/
    left: 0%;
}

.jcarousel-control-next {
    /*position: absolute;*/
    left: 95%;
}


.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

/*
.jcarousel .photo-credits {
    position: absolute;
    top: 82.5%;
    right: 6%;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;

    text-align: center;

    background-color: #000;
    z-index: 20;
}


.jcarousel-wrapper .photo-credits a {
    color: #fff;
} */

.jcarousel-pagination {
    position: absolute;
    bottom: .05%;
    left: 7%;
    padding-bottom: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    
    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    
    margin-right: 2px;
    
    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}
